body{
 margin: 0;
 padding: 0;
background: blue;
display: grid;
place-items: center;
height: 100vh;
}
.container {
 display: flex;
 gap: 4rem;
 align-items: center;
 justify-items: center;
}
.yelloww {
 width: 200px;
 height: 40px;
 background: yellow;
 border: none;
 border-radius: 14px;

}


.greenn {
 width: 200px;
 height: 40px;
 background: green;
 border: none;
 border-radius: 14px;

}.blackk {
 width: 200px;
 height: 40px;
 background: black;
 border: none;
 border-radius: 14px;
color: aliceblue;
}